<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@1.0.2/css/bulma.min.css">
  <title>My Profile</title>
</head>

<body>
  <%- include('../partials/_navbar.ejs') %>
  <div>
    <h1>Profile</h1>
    <p>
      You have
      <%= myBookedFlights.length %>
      <%= myBookedFlights.length===1 ? 'Flight' : 'Flights' %>
    </p>
    <div>
      <% myBookedFlights.forEach((flight)=> { %>
      <a href="/flights/<%= flight._id %>">
        <h4><%= flight.departure %> Flight</h4>
      </a>
      <% }) %>
    </div>
  </div>
</body>

</html>