<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@1.0.2/css/bulma.min.css">
  <title>View Users</title>
</head>

<body>
  <%- include('../partials/_navbar.ejs') %>
  <div class="container">
    <h1 class="is-size-1 has-text-centered mt-5 mb-5">List of Users</h1>
    <div class="fixed-grid has-4-cols">
      <div class="grid">
        <% users.forEach((loopUser) => { %>
        <div class="cell">
          <!-- variable is named loopUser since user variable is passed into the view as logged in user -->
          <div class="card ">
            <header class="card-header">
              <p class="card-header-title is-centered"><%= loopUser.username %></p>
            </header>
            <div class="card-content">
              <div class="content">
                <% if (loopUser.isAdmin) { %>
                <p>This is an admin account</p>
                <% } else { %>
                <p>Not an admin account</p>
                <% } %>
              </div>
            </div>
            <footer class="card-footer">
              <% if (loopUser.isAdmin) { %>
              <form class="card-footer-item" action="/users/<%= loopUser._id %>/adminRole?_method=DELETE" method="POST">
                <button type="submit" <%= loopUser._id.toString() === user._id ? 'disabled' : '' %>>
                  <!-- disable button if this is logged in user account -->
                  <strong class="has-text-danger">Remove Admin</strong>
                </button>
              </form>
              <% } else { %>
              <form class="card-footer-item" action="/users/<%= loopUser._id %>/adminRole" method="POST">
                <button type="submit">
                  <strong class="has-text-link">Make Admin</strong>
                </button>
              </form>
              <% } %>
            </footer>
          </div>
        </div>
        <% }) %>
      </div>
    </div>
  </div>
</body>

</html>