<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@1.0.2/css/bulma.min.css">
  <title>View Flights</title>
</head>

<body>
  <%- include('../partials/_navbar.ejs') %>
  <h1>List of Flights</h1>
  <% flights.forEach((flight) => { %>
  <a href="/flights/<%= flight._id %>"><%= flight.departure %> airport - <%= flight.destination %> airport</a>
  <p><%= flight.date %></p>
  <% }) %>
  <a href="/flights/new">Add New Flight</a>
</body>

</html>