<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@1.0.2/css/bulma.min.css">
  <link rel="stylesheet" href="/stylesheets/style.css">
  <title>View Flights</title>
</head>

<body>
  <%- include('../partials/_navbar.ejs') %>
  <div class="is-flex">
    <div class="container is-max-desktop vertical-image-flights">
      <figure class="image is-9by16">
        <img src="/images/vertical-image1.jpg" alt="vertical-image...">
      </figure>
    </div>
    <div class="container block ml-6">
      <div class="is-flex is-flex-direction-column">
        <div class="is-flex is-justify-content-center is-align-items-center">
          <% if (user.isAdmin) { %>
          <h1 class="is-size-1 mt-5 mb-5"> List of Flights</h1>
          <a class="button is-primary mx-3" href="/flights/new">Add New Flight</a>
            <% } else { %>
              <h1 class="is-size-1 has-text-centered mt-5 mb-5"> List of Flights </h1>
            <% } %>
        </div>
      </div>
      <div class="is-flex is-flex-direction-column is-align-items-center has-text-centered">
        <% flights.forEach((flight)=> { %>
        <div class="card flight-card my-2 clickable">
          <a href="/flights/<%= flight._id %>">
            <div class="mx-3">
              <p class="card-header-title is-centered"><%= flight.departure %> — <%= flight.destination %></p>
            </div>
            <div class="mx-3">
              <p class="pb-3">
                <strong><%= flight.date.toLocaleString(); %></strong>
              </p>
            </div>
          </a>
        </div>
        <% }) %>
      </div>
    </div>
  </div>
</body>

</html>