<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@1.0.2/css/bulma.min.css">
  <title>View Flights</title>
</head>

<body>
  <%- include('../partials/_navbar.ejs') %>
  <div class="is-flex">
    <div class="container is-max-desktop">
      <figure class="image is-9by16">
        <img src="/images/vertical-image1.jpg" alt="vertical-image...">
      </figure>
    </div>
    <div class="container block ml-6">
      <h1 class="is-size-1 has-text-centered mt-5 mb-5">List of Flights</h1>
      <% flights.forEach((flight) => { %>
      <a href="/flights/<%= flight._id %>"><%= flight.departure %> airport - <%= flight.destination %> airport</a>
      <p><%= flight.date.toLocaleString(); %></p>
      <% }) %>
      <% if (user.isAdmin) { %>
      <a class="button is-link" href="/flights/new">Add New Flight</a>
      <% } %>
    </div>
  </div>
</body>

</html>