<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@1.0.2/css/bulma.min.css">
  <title><%= flight.destination %></title>
</head>

<body>
  <%- include('../partials/_navbar.ejs') %>
  <h1>Flight details</h1>
  <p><%= flight.departure %> airport - <%= flight.destination %> airport</p>
  <p>Date: <%= flight.date.toLocaleString(); %></p>
  <p>Capacity: <%= flight.capacity %> </p>
  <p>Price: <%= flight.price %> </p>
  <% if (user.isAdmin) { %>
    <a class="button" href="/flights/<%= flight.id %>/edit">Edit Flight</a>
    <form action="/flights/<%= flight._id %>?_method=DELETE" method="POST">
      <button class="button is-danger" type="submit">Delete Flight</button>
    </form>
  <% } %>
  <% const remainingSeats = flight.capacity - flight.bookedByUsers.length; %>
  <h2>Remaining Seats: <%= remainingSeats %></h2>
  <% if (userHasBooked) { %>
  <form action="/flights/<%= flight._id %>/booked-by/<%= user._id %>?_method=DELETE" method="POST">
    <button class="button is-danger" type="submit">Cancel Booking</button>
  </form>
  <% } else { %>
  <% if ( remainingSeats === 0 ) { %>
  <p>No more seats are currnetly available.</p>
  <% } else { %>
  <form action="/flights/<%= flight._id %>/booked-by/<%= user._id %>" method="POST">
    <button class="button is-info" type="submit">Book This Flight!</button>
  </form>
  <% } %>
  <% } %>
</body>

</html>