<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@1.0.2/css/bulma.min.css">
  <title><%= flight.destination %></title>
</head>

<body>
  <%- include('../partials/_navbar.ejs') %>
  <h1>Flight details</h1>
  <p><%= flight.departure %> airport - <%= flight.destination %> airport</p>
  <p>Date: <%= flight.date.toLocaleString(); %></p>
  <p>Capacity: <%= flight.capacity %> </p>
  <p>Price: <%= flight.price %> </p>
  <a class="button" href="/flights/<%= flight.id %>/edit">Edit Flight</a>
  <form action="/flights/<%= flight._id %>?_method=DELETE" method="POST">
    <button class="button is-danger" type="submit">Delete Flight</button>
  </form>
</body>

</html>